{% extends "account/base_manage.html" %}

{% block main %}
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header bg-gradient-rose text-white">
            <h5 class="mb-0">
              <i class="bi bi-key"></i> Password Management
            </h5>
          </div>
          <div class="card-body">
            {% block content %}
            {% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock main %}