<!-- saas_base/templates/subscriptions/checkout_success.html -->
{% extends "base.html" %}

{% block title %}Subscription Successful{% endblock %}

{% block content %}
<div class="container py-5 text-center">
  <h1 class="mb-4">Could not have happened to a better couple!</h1>
  <p class="lead">Your subscription has been successfully processed.</p>
  <p>If you signed up with email you will receive a confirmation email shortly.</p>
  <div class="mt-4">
    <a href="{% url 'users:detail' request.user.username %}" class="btn btn-primary">Go to Your Account</a>
    
  </div>
</div>
{% endblock %}